@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 20rem;
  background: #fff;
  padding: 1.25rem;
  border-radius: 0.6rem;
  margin: 25vh auto;
}

button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 1.1rem;
  font-weight: 700;
  height: 3rem;
  cursor: pointer;
  width: 4rem;
  margin-inline: 0.5rem;
  border-radius: 5rem;
}

button:hover {
  background-color: var(--primary-color-darker);
}

.chronometer {
  font-size: 3em;
}

.stoped {
  color: red
}
