@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(0, 0, 0);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3rem;
  line-height: 1.5rem;
}

.container {
  max-width: 14rem;
  margin: 3rem auto;
  background: #ffffff;
  padding: 1.25rem;
  border-radius: 0.8rem;
}

span {
  font-size: 3rem;
}

form button {
  border-radius: 0.3rem;
  background-color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  margin-top: 1.5rem;
}
